body {
  margin: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E8D7D9;
  font-family: "webcomic";
}
#root {
  height: 100%;
  width: 50%;
  margin: 0 auto;
}
@font-face {
  font-family: "webcomic";
  src: url(../font/Webcomic.ttf);
}
