body {
  margin: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E8D7D9;
  font-family: "NanumSquareRound";
}
#root {
  height: 100%;
  width: 50%;
  margin: 0 auto;
}
@font-face {
  font-family: "NanumSquareRound-bold";
  src: url(../font/NanumSquareRoundB.ttf);
}
@font-face {
  font-family: "NanumSquareRound-extrabold";
  src: url(../font/NanumSquareRoundEB.ttf);
}
@font-face {
  font-family: "NanumSquareRound-large";
  src: url(../font/NanumSquareRoundL.ttf);
}
@font-face {
  font-family: "NanumSquareRound";
  src: url(../font/NanumSquareRoundR.ttf);
}