.table-container {
  user-select: none;
  width: 48vw;
  height: 60vh;
  margin: 0 auto;
  text-align: center;
}
.table {
  margin: 0 auto;
  border: 1px solid #AD6B69;
  border-radius: 20px;
}
td, th {
  height: 3rem;
  font-size: 2rem;
  border-left: 1px solid #AD6B69;  
}
td:first-child, th:first-child {
  border-left: none;
}
th {
  border-bottom: 1px solid #AD6B69;
}
.row-index {
  width: 4vw;
}
.row-first {
  width: 20vw;
}
.row-second {
  width: 24vw;
}
.pagination {
  display: flex;
  margin: 20px 0 0 0;
  padding-left: calc(24vw - 4.5rem - 19.5px);
}
.paginationItem {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  color: #AD6B69;
  border: 1.5px solid #AD6B69; 
  border-radius: 10px;
  margin: 0 5px 0 5px;
}