.list-container {
  height: 80vh;
  padding-top: calc(20vh - 1rem - 5px);
  width: 50vw;
  user-select: none;
}
.list-body {
  border: 3px solid #D78E8C;
  border-radius: 4rem;
  height: 60vh;
}
.list-table {
  padding-top: calc(30vh - 10.5rem - 10px);
}
.home {
  margin: 0 0 5px 4rem;
  width: 50px;
  font-size: 1rem;
  color: #947A77;
  text-decoration: none;
}